:root{
    --primary-color: #44d7b6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#trending{
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

#trending h1{
    text-align: center;
}

#trending h2{
    text-align: center;
    color: var(--primary-color);
    font-family: Satisfy,cursive;
    font-size: 1.5rem;
}

.fa-magnifying-glass-location{
    margin-right: 10px;
}

i.fa-star, i.fa-star-half-stroke{
    color: gold;
}

